body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-image: url('loginback.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: #fff;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.login-card {
    background: #fff;
    color: #333;
    padding: 30px;
    width: 400px;
    max-width: 90%;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    text-align: center;
    animation: fadeIn 1s ease-in-out;
}

.login-card h1 {
    margin-bottom: 10px;
    font-size: 1.8em;
    color: #28a745;
}

.login-card p {
    font-size: 1em;
    margin-bottom: 20px;
    color: #555;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    text-align: left;
    font-size: 0.9em;
    margin-bottom: 5px;
    color: #555;
}

input {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 1em;
    background: #f9f9f9;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
}

input:focus {
    outline: none;
    border-color: #28a745;
    box-shadow: 0 0 5px rgba(40, 167, 69, 0.5);
}

.login-btn {
    padding: 12px;
    font-size: 1em;
    background: linear-gradient(to right, #00ff3c, #218838);
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-weight: bold;
}

.login-btn:hover {
    background: linear-gradient(to right, #ff7700, #1e7e34);
    transform: scale(1.05);
    
}

#guest-btn {
    display: block;
    width: 100%;
    padding: 12px;
    margin-top: 10px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    background: linear-gradient(to right, #6B7280, #4B5563); /* Muted grayish-green */
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
}

#guest-btn:hover {
    background: linear-gradient(to right, #4B5563, #6B7280);
    transform: scale(1.03);
    opacity: 0.5;
}

.login-links {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    font-size: 0.9em;
}

.login-links a {
    color: #28a745;
    text-decoration: none;
    transition: color 0.3s;
}

.login-links a:hover {
    color: #1e7e34;
    text-decoration: underline;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.9);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}




